html, body {
    height: 100%;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeueBold.eot');
    src: url('fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeueBold.woff2') format('woff2'),
    url('fonts/BebasNeueBold.woff') format('woff'),
    url('fonts/BebasNeueBold.ttf') format('truetype'),
    url('fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.section{
    height: 100vh;
    width: 100%;
}


.container {
    max-width: 82vw;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    position: relative;
    background-color: #062639;
    box-shadow: 0 3px 6px black;
    z-index: 50;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9.3vh;
}

.btn_menu {
    width: 40px;
    display: none;
}

.btn_menu div {
    height: 5px;
    background-color: #fff;
    margin-bottom: 5px;
}

.menu_list{
    display: flex;
}

.menu_list a{
    font: Bold 1vmax Raleway;
    color: white;
    text-decoration: none;
    padding: 2.3vh 1.7vw 5vh;
}

.menu_list a:hover{
    background-color:#EA2340;
}

.menu_list a:active{
    background-color:#EA2340;
}

.image_reg {
    position: relative;
    width: 100%;
}

.main-image {
    position: absolute;
}

.main-image img{
    width: 100%;
}

.main_find {
    position: absolute;
    margin-top: 17vh;
    max-width: 100%;
    width: 31.7vw;
    height: 43vh;
    background-color: white;
    box-shadow: 0 3px 6px #0000005F;
}

form{
    margin-left: 10vw;
}

.find_title{
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 3.6vh;
    color: #EA2340;
    padding-top:4vh;
    margin-bottom: 1px;
}
.find_under_title {
    font-family: Raleway, sans-serif;
    font-size: 0.8vw;
    color: #06263998;
    margin-bottom: 2.84vh;
}

input[type=text], select {
    width: 17.5vw;
    height: 5.6vh;
    padding-left: 0.43vw;
    padding-top: 2.2vh;
    margin-bottom: 0.8vh;
    border: 1px solid #5F727E;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    font-size: 1.5vh;
    color: #06263998;
}

.main_find button {
    border: 0;
    margin-left: 0.43vw;
    margin-top: 2.5vh;
    padding-bottom: 6vh;
    width: 9.7vw;
    height: 10vh;
    background-color: #EA2340;
    font: bold 2vh Raleway;
    color: white;
    cursor: pointer;
}


