html, body {
    height: 100%;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeueBold.eot');
    src: url('fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeueBold.woff2') format('woff2'),
    url('fonts/BebasNeueBold.woff') format('woff'),
    url('fonts/BebasNeueBold.ttf') format('truetype'),
    url('fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.section{
    height: 100vh;
    width: 100%;
}

.container {
    max-width: 82vw;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    position: relative;
    background-color: #062639;
    box-shadow: 0 3px 6px black;
    z-index: 50;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9.3vh;
}

.btn_menu {
    width: 40px;
    display: none;
}

.btn_menu div {
    height: 5px;
    background-color: #fff;
    margin-bottom: 5px;
}

.menu_list{
    display: flex;
}

.menu_list a{
    font: Bold 1vmax Raleway;
    color: white;
    text-decoration: none;
    padding: 2.3vh 1.7vw 5vh;
}

.menu_list a:hover{
    background-color:#EA2340;
}

.menu_list a:active{
    background-color:#EA2340;
}

.image_reg {
    background-image: url("img/742079-PSISLA-798.png");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 86vh;
}

.main_find {
    position: absolute;
    margin-top: 17vh;
    max-width: 100%;
    width: 31.7vw;
    height: 43vh;
    background-color: white;
    box-shadow: 0 3px 6px #0000005F;
}

form{
    margin-left: 10vw;
}

.find_title{
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 3.6vh;
    color: #EA2340;
    padding-top:4vh;
    margin-bottom: 1px;
}
.find_under_title {
    font-family: Raleway, sans-serif;
    font-size: 0.8vw;
    color: #06263998;
    margin-bottom: 2.84vh;
}

input[type=text], select {
    width: 17.5vw;
    height: 5.6vh;
    padding-left: 0.43vw;
    padding-top: 2.2vh;
    margin-bottom: 0.8vh;
    border: 1px solid #5F727E;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    font-size: 1.5vh;
    color: #06263998;
}

.main_find button {
    border: 0;
    margin-left: 0.43vw;
    margin-top: 2.5vh;
    padding-bottom: 6vh;
    width: 9.7vw;
    height: 10vh;
    background-color: #EA2340;
    font: bold 2vh Raleway;
    color: white;
    cursor: pointer;
}

.intermediate_footer {
    position: relative;
    background-color: #062639;
    width: 100%;
    height: 30vh;
    padding-top: 2.6vh;
}

.cornerLine {
    background: #EA2340;
    width: 88.4vw;
    height: 3.8vh;
    margin-bottom: 6vh;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 96% 0);

}

.int_footer_texts {
    max-width: 100%;
    display: flex;
    align-items: center;
}


.left_text {
    padding-left: 9.5vw;
    font: Bold 6vh Bebas Neue;
    letter-spacing: 0;
    color: white;
    text-transform: capitalize;
}

.middle_text {
    width: 35% ;
    padding-left: 3vw;
    font: 1.8vh Raleway;
    letter-spacing: 0;
    color: white;
}

.right_text {
    padding-left: 8vw;
    font: 3.5vh Raleway;
    font-weight: 900;
    letter-spacing: 0;
    color: #EA2340;
}

.join {
    border: 0;
    width: 7.5vw;
    height: 5.4vh;
    position: relative;

    font: 700 2vh Raleway;
    color: white;
    background: #EA2340 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000052;
    cursor: pointer;
    margin-top: 1.6vh;
}