html, body {
    height: 100%;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeueBold.eot');
    src: url('fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeueBold.woff2') format('woff2'),
    url('fonts/BebasNeueBold.woff') format('woff'),
    url('fonts/BebasNeueBold.ttf') format('truetype'),
    url('fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.section{
    height: 100vh;
}


.container {
    max-width: 82vw;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-color: #062639;
    box-shadow: 0 3px 6px black;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9.3vh;
}

.btn_menu {
    width: 40px;
    display: none;
}

.btn_menu div {
    height: 5px;
    background-color: #fff;
    margin-bottom: 5px;
}

.menu_list{
    display: flex;
}

.menu_list a{
    font: Bold 1vmax Raleway;
    color: white;
    text-decoration: none;
    padding: 14px 23px 30px;
}

.menu_list a:hover{
    background-color:#EA2340;
}

.menu_list a:active{
    background-color:#EA2340;
}