<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filters Page</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap" rel="stylesheet">
</head>
<body>

<!--///////////////////////////// header ////////////////////////////////-->

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                <a href="main.html">
                    <img src="../assets/img/logo2.png" alt="logo">
                </a>
            </div>
            <nav class="menu">
                <div class="btn_menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <ul class="menu_list">
                    <li><a class="active" href="search.html">Search</a></li>
                    <li><a href="upload.html">Let the car work</a></li>
                    <li><a href="terms_of_use.html">Terms of use</a></li>
                    <li><a href="signup.html">Sign up</a></li>
                    <li><a href="login.html">Log in</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--///////////////////////////// page start ////////////////////////////////-->
<div class="search_main">
    <div class="search_sidebar">
        <div class="sidebar_menu">
            <div class="sidebar_menu_search" style="background-color: #062639">
                <a href="filters.html">
                    <img src="../assets/icons/levels.png" alt="">
                    <p>Filters</p>
                </a>
            </div>
            <div class="sidebar_menu_filters" style="background-color: #6C7E8B">
                <a href="map.html">
                    <img src="../assets/icons/placeholder.png" alt="">
                </a>
            </div>

            <div class="sidebar_menu_map" style="background-color: #EA2340">
                <a href="search.html">
                    <img src="../assets/icons/magnifying-glass.png" alt="">
                </a>
            </div>
        </div>
        <div class="sidebar_content" style="border-top:7px solid #062639;">
            <p>Find your car now!</p>
            <div class="sidebar_content_form" style="margin-bottom: 1.8vh">
                <select name="brand" id="brand">
                    <option selected="selected">Brand</option>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>

                <select name="model" id="model">
                    <option selected="selected">Model</option>
                    <option value="model1">model1</option>
                    <option value="model2">model2</option>
                    <option value="model3">model3</option>
                    <option value="model4">model4</option>
                </select>

                <select name="year" id="Year">
                    <option selected="selected">Year</option>
                    <option value="Year1">Year1</option>
                    <option value="Year2">Year2</option>
                    <option value="Year3">Year3</option>
                    <option value="Year4">Year4</option>
                </select>

                <select name="engine" id="engine">
                    <option selected="selected">Engine</option>
                    <option value="engine1">Volvo</option>
                    <option value="engine2">Saab</option>
                </select>

                <select name="fuel" id="fuel">
                    <option selected="selected">Fuel</option>
                    <option value="fuel1">fuel1</option>
                    <option value="fuel2">fuel2</option>
                </select>

                <select name="transmission" id="transmission">
                    <option selected="selected">Transmission</option>
                    <option value="transmission1">transmission1</option>
                    <option value="transmission2">transmission2</option>
                </select>

                <select name="wd" id="wd">
                    <option selected="selected">WD</option>
                    <option value="wd1">WD1</option>
                    <option value="wd2">WD2</option>
                </select>

                <select name="horsepower" id="horsepower">
                    <option selected="selected">Horsepower</option>
                    <option value="horsepower1">horsepower1</option>
                    <option value="horsepower2">horsepower2</option>
                </select>

                <select name="fuel_consumption" id="fuel_consumption">
                    <option selected="selected">Fuel consumption</option>
                    <option value="fuel_consumption1">fuel_consumption1</option>
                    <option value="fuel_consumption2">fuel_consumption2</option>
                </select>
            </div>
        </div>
    </div>
    <div class="search_content">
        <div class="search_cars">
            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/azlk2.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>Zaporozhets G-CLASS <span>2019</span></h4>
                </div>
                <div class="car-item__price">
                    <span>180</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>

            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/zaz_full.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>ZAZ model x <span>2018</span></h4>
                </div>
                <div class="car-item__price">
                    <span>180</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>

            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/lambo.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>Lamborghini Urus <span>2019</span></h4>
                </div>
                <div class="car-item__price">
                    <span>500</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>

            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/gaz_full.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>TESLA model x <span>2018</span></h4>
                </div>
                <div class="car-item__price">
                    <span>180</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>

            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/azlk2.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>MERCEDES-BENZ G-CLASS <span>2019</span></h4>
                </div>
                <div class="car-item__price">
                    <span>180</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>

            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/azlk2.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>TESLA model x <span>2018</span></h4>
                </div>
                <div class="car-item__price">
                    <span>180</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////// footer ////////////////////////////////-->

<div class="footer">
    <div class="footer_top">
        <div class="footer_desc">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy
            cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie
        </div>
        <div class="logo"><img src="../assets/img/logo2.png" alt="logo"></div>
        <div class="social">
            <img src="../assets/icons/facebook.png" alt="fb">
            <img src="../assets/icons/telegram.png" alt="telegram">
            <img src="../assets/icons/vk.png" alt="vk">
            <img src="../assets/icons/insta.png" alt="insta">
            <img src="../assets/icons/slack.png" alt="hashtag">
        </div>
    </div>
    <div class="footer_bottom">
        <div class="red_block">
            <div class="red_block_text">
                The ultimate <br>car rental service
            </div>
        </div>
        <div class="rightInfo">
            <div class="nav_menu_footer">
                <p>Search</p>
                <p>Let the car work</p>
                <p>Terms of use</p>
                <p>Sign up</p>
                <p>Log in</p>
            </div>
            <div class="line">
                <hr>
            </div>
            <div class="citiesAndTel">
                <div class="cities">
                    <div class="topCities">TOP CITIES</div>
                    <ul class="capitals">
                        <li><a href="#">New York</a></li>
                        <li><a href="#">Tokyo</a></li>
                        <li><a href="#">Paris</a></li>
                        <li><a href="#">London</a></li>
                        <li><a href="#">Los Angeles</a></li>
                        <li><a href="#">Vienna</a></li>
                        <li><a href="#">Moscow</a></li>
                        <li><a href="#">Warsaw</a></li>
                        <li><a href="#">Berlin</a></li>
                        <li><a href="#">Seattle</a></li>
                    </ul>
                </div>
                <div class="numberAndContact">
                    <div class="telephone">08-616-8800-55</div>
                    <div class="address">1600 Amphitheatre Pkwy<br>
                        Mountain View, CA 94043, USA
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>