<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FindYourCarNow</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap" rel="stylesheet">
</head>
<body>

<!--///////////////////////////// header ////////////////////////////////-->

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                <a href="#">
                    <img src="../assets/img/logo2.png" alt="logo">
                </a>
            </div>
            <nav class="menu">
                <div class="btn_menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <ul class="menu_list">
                    <li><a href="search.html">Search</a></li>
                    <li><a href="upload.html">Let the car work</a></li>
                    <li><a href="terms_of_use.html">Terms of use</a></li>
                    <li><a href="signup.html">Sign up</a></li>
                    <li><a href="login.html">Log in</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--///////////////////////////// page start ////////////////////////////////-->

<div class="image_find">
    <div class="main_find">
        <form style="alignment: center">
            <p class="find_title">Find your car now!</p>
            <p class="find_under_title">Type your data and hit Yalla!</p>
            <input type="text" id="location" placeholder="Location">
            <input type="text" id="from" placeholder="From">
            <input type="text" id="till" placeholder="Till">
            <button type="submit">Y’alla!</button>
        </form>
    </div>
</div>

<!--///////////////////////////// intermediate footer ////////////////////////////////-->
<div class="base">
    <div class="intermediate_footer">
        <div class="cornerLine"></div>
        <div class="int_footer_texts">
            <div class="left_text">
                NEVER MISTAKEN
                <br>FOR ANYTHING ELSE
            </div>
            <div class="middle_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton
                candy
                cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread.
                Icing
                wafer pie pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.
            </div>
            <div class="right_text"><p>Affordable prices</p>
                <p>Guaranteed cars</p>
                <button class="join">Join now!</button>
            </div>
        </div>
    </div>

    <!--///////////////////////////// 3 most popular choices ////////////////////////////////-->

    <div class="most_popular">
        <div class="most_number">3</div>
        <div class="most_text">MOST POPULAR <br>CHOICES IN YOUR AREA</div>
        <div class="most_descr">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy
            cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing
            wafer pie pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.
        </div>
    </div>

    <div class="car-box_blue">
        <div class="car-box_red">
            <img class="car-box_img1" src="../assets/img/zaz.png" alt="Top1"/>
            <img class="car-box_img2" src="../assets/img/gaz.png" alt="Top2"/>
            <img class="car-box_img3" src="../assets/img/azlk.png" alt="Top3"/>
        </div>
    </div>

    <div class="car_names">
        <div class="top1car">Reddevil</div>
        <div class="top2car">Blackstar</div>
        <div class="top3car">Pneumodaddy</div>
    </div>

    <div class="carsPrices">
        <div class="topPrice1">
            <div class="currency">$</div>
            <div class="amount">230</div>
            <div class="perDay">PER DAY</div>
        </div>
        <div class="topPrice2">
            <div class="currency">$</div>
            <div class="amount">300</div>
            <div class="perDay">PER DAY</div>
        </div>
        <div class="topPrice3">
            <div class="currency">$</div>
            <div class="amount">180</div>
            <div class="perDay">PER DAY</div>
        </div>
    </div>


    <!--///////////////////////////// feedback's ////////////////////////////////-->

    <div class="feed_main">

        <div class="feed_main_topic" style="color: #062639; padding-left: 10%; padding-top: 5%">
            Latest feedbacks
            <br>fROM our customers
        </div>

        <div class="feeds_list">
            <div class="feed_user">
                <img src="../assets/img/user-icon.jpg" width="90" height="90" alt="user">
                <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton
                    candy cake chocolate cake. And may be will be something else</p>
                <p class="name_user">Candy Miles</p>
                <p class="feed_date">22 September 2019</p>
            </div>
            <div class="feed_user">
                <img src="../assets/img/user-icon.jpg" width="90" height="90" alt="user">
                <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton
                    candy cake chocolate cake.</p>
                <p class="name_user">Candy Miles</p>
                <p class="feed_date">22 September 2019</p>
            </div>
            <div class="feed_user">
                <img src="../assets/img/user-icon.jpg" width="90" height="90" alt="user">
                <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton
                    candy cake chocolate cake.</p>
                <p class="name_user">Candy Miles</p>
                <p class="feed_date">22 September 2019</p>
            </div>
            <div class="feed_user">
                <img src="../assets/img/user-icon.jpg" width="90" height="90" alt="user">
                <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton
                    candy cake chocolate cake.</p>
                <p class="name_user">Candy Miles</p>
                <p class="feed_date"> 22 September 2019</p>
            </div>
            <div class="feed_user">
                <img src="../assets/img/user-icon.jpg" width="90" height="90" alt="user">
                <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton
                    candy cake chocolate cake.</p>
                <p class="name_user">Candy Miles</p>
                <p class="feed_date">22 September 2019</p>
            </div>
            <div class="feed_user">
                <img src="../assets/img/user-icon.jpg" width="90" height="90" alt="user">
                <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton
                    candy cake chocolate cake.</p>
                <p class="name_user">Candy Miles</p>
                <p class="feed_date">22 September 2019</p>
            </div>
        </div>

    </div>
</div>

<!--///////////////////////////// footer ////////////////////////////////-->

<div class="footer">
    <div class="footer_top">
        <div class="footer_desc">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy
            cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie
        </div>
        <div class="logo"><img src="../assets/img/logo2.png" alt="logo"></div>
        <div class="social">
            <img src="../assets/icons/facebook.png" alt="fb">
            <img src="../assets/icons/telegram.png" alt="telegram">
            <img src="../assets/icons/vk.png" alt="vk">
            <img src="../assets/icons/insta.png" alt="insta">
            <img src="../assets/icons/slack.png" alt="hashtag">
        </div>
    </div>
    <div class="footer_bottom">
        <div class="red_block">
            <div class="red_block_text">
                The ultimate <br>car rental service
            </div>
        </div>
        <div class="rightInfo">
            <div class="nav_menu_footer">
                <p>Search</p>
                <p>Let the car work</p>
                <p>Terms of use</p>
                <p>Sign up</p>
                <p>Log in</p>
            </div>
            <div class="line">
                <hr>
            </div>
            <div class="citiesAndTel">
                <div class="cities">
                    <div class="topCities">TOP CITIES</div>
                    <ul class="capitals">
                        <li><a href="#">New York</a></li>
                        <li><a href="#">Tokyo</a></li>
                        <li><a href="#">Paris</a></li>
                        <li><a href="#">London</a></li>
                        <li><a href="#">Los Angeles</a></li>
                        <li><a href="#">Vienna</a></li>
                        <li><a href="#">Moscow</a></li>
                        <li><a href="#">Warsaw</a></li>
                        <li><a href="#">Berlin</a></li>
                        <li><a href="#">Seattle</a></li>
                    </ul>
                </div>
                <div class="numberAndContact">
                    <div class="telephone">08-616-8800-55</div>
                    <div class="address">1600 Amphitheatre Pkwy<br>
                        Mountain View, CA 94043, USA
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>