<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filters Page</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap" rel="stylesheet">
    <script src="../js/Map.js" defer></script>
</head>
<body>

<!--///////////////////////////// header ////////////////////////////////-->

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                <a href="main.html">
                    <img src="../assets/img/logo2.png" alt="logo">
                </a>
            </div>
            <nav class="menu">
                <div class="btn_menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <ul class="menu_list">
                    <li><a class="active" href="search.html">Search</a></li>
                    <li><a href="upload.html">Let the car work</a></li>
                    <li><a href="terms_of_use.html">Terms of use</a></li>
                    <li><a href="signup.html">Sign up</a></li>
                    <li><a href="login.html">Log in</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--///////////////////////////// page start ////////////////////////////////-->
<div class="search_main">
    <div class="search_sidebar">
        <div class="sidebar_menu">
            <div class="sidebar_menu_search" style="background-color: #6C7E8B">
                <a href="map.html">
                    <img src="../assets/icons/placeholder.png" alt="">
                    <p>Map</p>
                </a>
            </div>
            <div class="sidebar_menu_filters" style="background-color: #062639">
                <a href="filters.html">
                    <img src="../assets/icons/levels.png" alt="">
                </a>
            </div>

            <div class="sidebar_menu_map" style="background-color: #EA2340">
                <a href="search.html">
                    <img src="../assets/icons/magnifying-glass.png" alt="">
                </a>
            </div>
        </div>
        <div class="sidebar_content" style="border-top:7px solid #6C7E8B; padding-left: 0; padding-top: 0; width: 32vw; height: 79vh">
            <div id="search_map" style="width: 100%; height: 100%">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="search_content">
        <div class="search_cars">
            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/azlk2.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>Zaporozhets G-CLASS <span>2019</span></h4>
                </div>
                <div class="car-item__price">
                    <span>180</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>

            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/zaz_full.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>ZAZ model x <span>2018</span></h4>
                </div>
                <div class="car-item__price">
                    <span>180</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>

            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/lambo.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>Lamborghini Urus <span>2019</span></h4>
                </div>
                <div class="car-item__price">
                    <span>500</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>

            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/gaz_full.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>TESLA model x <span>2018</span></h4>
                </div>
                <div class="car-item__price">
                    <span>180</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>

            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/azlk2.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>MERCEDES-BENZ G-CLASS <span>2019</span></h4>
                </div>
                <div class="car-item__price">
                    <span>180</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>

            <div class="car-item">
                <div class="car-item__image">
                    <img src="../assets/img/azlk2.png" alt="">
                </div>
                <div class="car-item__title">
                    <h4>TESLA model x <span>2018</span></h4>
                </div>
                <div class="car-item__price">
                    <span>180</span>
                    <span class="car-item__price-termin">per day</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////// footer ////////////////////////////////-->

<div class="footer">
    <div class="footer_top">
        <div class="footer_desc">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy
            cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie
        </div>
        <div class="logo"><img src="../assets/img/logo2.png" alt="logo"></div>
        <div class="social">
            <img src="../assets/icons/facebook.png" alt="fb">
            <img src="../assets/icons/telegram.png" alt="telegram">
            <img src="../assets/icons/vk.png" alt="vk">
            <img src="../assets/icons/insta.png" alt="insta">
            <img src="../assets/icons/slack.png" alt="hashtag">
        </div>
    </div>
    <div class="footer_bottom">
        <div class="red_block">
            <div class="red_block_text">
                The ultimate <br>car rental service
            </div>
        </div>
        <div class="rightInfo">
            <div class="nav_menu_footer">
                <p>Search</p>
                <p>Let the car work</p>
                <p>Terms of use</p>
                <p>Sign up</p>
                <p>Log in</p>
            </div>
            <div class="line">
                <hr>
            </div>
            <div class="citiesAndTel">
                <div class="cities">
                    <div class="topCities">TOP CITIES</div>
                    <ul class="capitals">
                        <li><a href="#">New York</a></li>
                        <li><a href="#">Tokyo</a></li>
                        <li><a href="#">Paris</a></li>
                        <li><a href="#">London</a></li>
                        <li><a href="#">Los Angeles</a></li>
                        <li><a href="#">Vienna</a></li>
                        <li><a href="#">Moscow</a></li>
                        <li><a href="#">Warsaw</a></li>
                        <li><a href="#">Berlin</a></li>
                        <li><a href="#">Seattle</a></li>
                    </ul>
                </div>
                <div class="numberAndContact">
                    <div class="telephone">08-616-8800-55</div>
                    <div class="address">1600 Amphitheatre Pkwy<br>
                        Mountain View, CA 94043, USA
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUQ33eXb4Exjz_IN0jQXtpVfFjJoeP7T0&callback=initMap">
</script>
</body>
</html>