<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Work</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap" rel="stylesheet">
</head>
<body>

<!--///////////////////////////// header ////////////////////////////////-->

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                <a href="main.html">
                    <img src="../assets/img/logo2.png" alt="logo">
                </a>
            </div>
            <nav class="menu">
                <div class="btn_menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <ul class="menu_list">
                    <li><a href="search.html">Search</a></li>
                    <li><a href="upload.html">Let the car work</a></li>
                    <li><a class="active" href="terms_of_use.html">Terms of use</a></li>
                    <li><a href="signup.html">Sign up</a></li>
                    <li><a href="login.html">Log in</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--///////////////////////////// page start ////////////////////////////////-->


<!--///////////////////////////// footer ////////////////////////////////-->

<div class="footer">
    <div class="footer_top">
        <div class="footer_desc">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy
            cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie
        </div>
        <div class="logo"><img src="../assets/img/logo2.png" alt="logo"></div>
        <div class="social">
            <img src="../assets/icons/facebook.png" alt="fb">
            <img src="../assets/icons/telegram.png" alt="telegram">
            <img src="../assets/icons/vk.png" alt="vk">
            <img src="../assets/icons/insta.png" alt="insta">
            <img src="../assets/icons/slack.png" alt="hashtag">
        </div>
    </div>
    <div class="footer_bottom">
        <div class="red_block">
            <div class="red_block_text">
                The ultimate <br>car rental service
            </div>
        </div>
        <div class="rightInfo">
            <div class="nav_menu_footer">
                <p>Search</p>
                <p>Let the car work</p>
                <p>Terms of use</p>
                <p>Sign up</p>
                <p>Log in</p>
            </div>
            <div class="line">
                <hr>
            </div>
            <div class="citiesAndTel">
                <div class="cities">
                    <div class="topCities">TOP CITIES</div>
                    <ul class="capitals">
                        <li><a href="#">New York</a></li>
                        <li><a href="#">Tokyo</a></li>
                        <li><a href="#">Paris</a></li>
                        <li><a href="#">London</a></li>
                        <li><a href="#">Los Angeles</a></li>
                        <li><a href="#">Vienna</a></li>
                        <li><a href="#">Moscow</a></li>
                        <li><a href="#">Warsaw</a></li>
                        <li><a href="#">Berlin</a></li>
                        <li><a href="#">Seattle</a></li>
                    </ul>
                </div>
                <div class="numberAndContact">
                    <div class="telephone">08-616-8800-55</div>
                    <div class="address">1600 Amphitheatre Pkwy<br>
                        Mountain View, CA 94043, USA
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>